body {
    width: 1200px;
    margin: auto;
}
section {
    padding: 30px 0;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    width: 100%;
} 
h2 {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    position: relative;
   
}
h3 {
    font-size: 18px;
    font-weight: 600;
}
li {
    list-style: none;
}
/* h2 span {
    border-bottom: 2px solid #f00;
    padding-bottom: 10px;
} */
h2::before {
    content: "";
    width: 25px;
    height: 2px;
    display: block;
    border-top: 2px solid #f55;
    position: absolute;
    top: 100%;
    left: 50%;
}
h2::after {
    content: "";
    width: 25px;
    height: 2px;
    display: block;
    border-top: 2px solid #f55;
    position: absolute;
    top: 100%;
    right: 50%;
}
.title p {
    padding: 20px;
}     
.title {
    width: 900px;
    margin: auto;
    padding: 10px 0 20px;
}
.content {
    display: flex;
    flex-wrap: wrap;
}  

nav {
    display: flex;
    /* align-items: flex-end; */
    width: 495px;
    justify-content: flex-end;
}
nav :first-child{
    padding-right: 10px;
}
.header nav  a{
    vertical-align: middle;
    padding: 0 3px 15px 3px;
    /* width: 300px; */
    /* background-color: #fa0; */
    height: 100%;
    margin-bottom: -15px;
    margin-left: 15px;
    /* margin-right: 5px; */
    /* border: 1px solid red; */
    position: relative;
    font-size: 18px;
}
 /* nav span.line {
    background-color: #f55;
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    margin-bottom: -20px;
    padding-bottom: 0px;
    transform: scaleX(0%);
}
nav a:hover span.line {
    transform: scaleX(100%);
    transition: .3s;
} */
nav a::before {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: #f55;
    display: block;
    left: 0;
    top: 100%;
    transform: scaleX(0%);
}
nav a:hover::before {
    transform: scaleX(100%);
    transition: .4s;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    border-bottom: 1px  solid #eee;
    font-weight: 400;
    font-size: 20px;
    top: 0;
    width: 1200px;
    background-color: #fff;
    padding: 15px 0 15px 0;
    z-index: 1;
}
.header a:hover {
    color: #f55;
}
.header .logo a img {
    width: 30px;
    border: none;
}
.logo a {
    display: flex;
    padding: 5px;
    align-items: center;
}
.header :last-child{
    margin-left: auto;
}
.subject-title {
    text-align: center;
}
.subject-content .card {
    margin: 10px;
    width: 380px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
}
.teacher::before {
    position: absolute;
    content: "";
    background-color: #eeeeee66;
    height: 150px;
    top: -150px;
    left: 0;
    right: 0;
    z-index: -1;
    clip-path: polygon(30% 0%, 100% 100%, 0% 100%);
}
.teacher {
    background-color: #eeeeee66;
    position: relative;
}
.teacher .title h2::before {
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    border-top: 2px solid #f55;
    position: absolute;
    top: 100%;
    left: 20px;
}
.teacher .title h2::after {
    display: none;
}
.teacher .title h2 {
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
}
.teacher-title p {
    text-align: left;
    font-size: 18px;
}
.teacher-content span {
    font-weight: bold;
}
.teacher-content .card-title-content span {
    border-bottom: 2px solid #f00;
}
.teacher-content .card-title-content a {
    opacity: .5;
}
.teacher-content .card-title-content a:hover {
    opacity: 1;
}
.teacher-content .card {
    margin: 10px;
    padding: 20px;
    width: 580px;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: #fff;
}
.teacher-content .card-title {
    display: flex;
    line-height: 2.5;
}
.teacher-content .card-content {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 10px;
    vertical-align: middle;
}
.teacher-content .card-content p {
    padding: 5px;
}
.teacher-content .card-title div {
    width: 30%;
}
.teacher-content .card-title img {
    border-radius: 50%;
}
.teacher-content .card-title-content {
    padding: 20px;
}
.teacher-content .card-title-content img {
    width: 30px;
}
.teacher-content .card-content {
    padding: 20px 0;
}
.teacher-content ul {
    display: flex;
    justify-content: flex-start;
}
.teacher-content a {
    color: #f55;
}
.teacher-content a:hover {
    text-decoration: underline;
}
.teacher-content .card-footer {
    padding-top: 10px;
}
.teacher-content .card-title li {
    padding: 0 5px 0 0;
}
.teacher-content .card-footer a {
    border: 1px solid #f00;
    border-radius: 0.25em;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 10px;
}
.teacher-content .card-footer a:hover {
   background-color: #f55; 
   color: #fff;
   text-decoration: none;
}
.teacher-content .card-footer  p{
    display: block;
    width: 20%;
    margin-top: -20px;
    padding-left: 5px;
    background-color: #fff;
}
.news-content div {
    margin: 10px;
    width: 580px;
}
.news-content h3 {
    font-size: 28px;
}
.news a:hover {
    color: #f55;
}
.more-information {
    width: 100px;
    margin: auto;
    padding: 20px 0;
}
.more-information a {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 10px;
    border: 1px solid #f55;
    background-color: #f55;
    border-radius: 0.25em;
    color: #fff;
}
.more-information a:hover {
    background-color: #b00;
    border: 1px solid #b00;
    color: #fff;
}
.course-before::before {
    display: block;
    background-color: #333;
    height: 150px;
    content: "";
    clip-path: polygon(30% 0%, 100% 100%, 0% 100%);
}
.course-after::after {
    display: block;
    background-color: #333;
    height: 150px;
    content: "";
    clip-path: polygon(0% 0%, 100% 0%, 70% 100%);
}
.course-title h2::before {
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    border-top: 2px solid #f55;
    position: absolute;
    top: 100%;
    left: 0;
}
.course-title h2::after {
    display: none;
}
.course {
    background-color: #333;
    color: #fff;
}
.course a {
    color: #666;
}
.course .more-information a {
    color: #fff;
}
.course-title {
    display: flex;
    width: 1200px;
}
.short-course , .course-title div {
    margin: 10px;
    width: 550px;
    padding-top: 50px;
}
.course-title .short-course h2 , .course-title .short-course p {
   text-align: left;
   padding-left: 0;
}
.course h3 {
    margin-right: auto;
    padding-left: 10px;
}
.course .course-title .others {
    background-color: #f55;
    box-sizing: border-box;
    padding: 20px;
    margin: 30px;
    position: relative;
}
.others::before {
    position: absolute;
    content: "";
    background-color: #f55;
    height: 50px;
    top: 0;
    left: 0;
    
}
.course-content .card {
    margin: 10px;
    width: 380px;
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: #fff;
    border: 1px solid #666;
}
.course-content p {
    border: 1px solid #666;
    border-radius: 0.25rem;
    font-size: 12px;
    padding: 3px;
    margin: 3px;
}
.course-content .card div {
    padding: 5px 10px 5px;
}
.course-content div p {
    display: inline-block;
}
.course-content .card-footer {
    display: flex;
    border-top: 1px solid #666;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: flex-end;
}
.course-content .card:nth-child(1) .card-footer :last-child {
    color: #f00;
}
.course-content .card:nth-child(2) .card-footer :last-child {
    color: #77f;
}
.course-content .card:nth-child(3) .card-footer :last-child {
    color: #0a0;
}
.learning-path-title {
    width: 1200px;
    margin-right: auto;
}
.learning-path-title h2::before {
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    border-top: 2px solid #f55;
    position: absolute;
    top: 100%;
    left: 5px;
}
.learning-path-title h2::after {
    display: none;
}

.learning-path-title h2 {
    text-align: left;
    padding-left: 5px;
}
.learning-path-title p {
    padding-left: 5px;
}
.learning-path-content .card {
    margin: 10px;
    width: 578px;
    border: 1px solid #ddd;
    border-radius: 0.25em;
}
.learning-path-content .card-title.coding {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    height: 200px;
    position: relative;
}
.learning-path-content .card-title.camp{
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    height: 200px;
    position: relative;
}
.learning-path-content .card-title h3 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-color: #00000066;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.learning-path-content .card-content.coding {
    padding: 15px;
    position: relative;
    top: 0px;
    background-color: #fff;
}
.learning-path-content .card-content.camp {
    padding: 15px;
    position: relative;
    top: 0px;
    background-color: #fff;
}
.learning-path-content .card-content h3 {
    border-bottom: 1px solid #666;
    font-size: 20px;
}
.learning-path-content  p {
    padding-top: 15px;
}
.learning-path-content .card-foot {
    padding: 10px;
    width: 80px;
    position: relative;
}
.learning-path-content .card-foot p {
    display: inline-block;
    padding-right: 1px;
    padding-top: 5px;
    position: relative;
    color: #f55;
}
.learning-path-content .card-foot svg {
    position: absolute;
    right: 0px;
    bottom: 6px;
    width: 30px;
    height: 30px;
    color: #f55;
}
.learning-path-content .card-foot a:hover p {
    text-decoration: underline;
}
.learning-path-content .card-foot a:hover svg {
    color: #f55;
    text-decoration: none;
    right: -5px;
}
.feedback .card {
    width: 360px;
    margin: 20px;
    box-sizing: border-box;
    border: 1px solid #dddddddd;
    border-radius: 0.25em;
    padding: 20px;
    position: relative;
}

.feedback .card::before {
    content: "，";
    font-size: 80px;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 50px;
    right: 25px;
    color: #66666644;
}

.feedback .card::after {
    content: "，";
    font-size: 80px;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 50px;
    right: 10px;
    color: #66666644;
}

.feedback .card img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.feedback .card .name {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.feedback .card .name p {
    padding-left: 10px;
}
.extend-article img {
    height: 240px
}
.extend-article-title .title{
    width: 100%;
}
.extend-article-content h3 {
    font-size: 30px;
}
.extend-article-content .card  img {
    border: 1px solid #fff;
    border-radius: 0.25em;
    object-fit: cover;
}
.extend-article-content p {
    color: #888;
    padding-top: 5px;
}
.extend-article-content .card {
    margin: 10px;
    width: 380px;
    box-sizing: border-box;
}
.extend-article-content a:hover {
    color: #f55;
}
.links::before {
    background-color: #fff;
    display: block;
    content: "";
    height: 150px;
    margin: -30px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 30%, 0% 100%);
}
.links {
    background-color: #333;
    color: #fff;
    padding: 30px;
}
.links a {
    text-decoration: none;
    color: #fff;
}
.links a:hover {
    color: #f55;
}
.links ul {
    padding-top: 10px;
}
.links-head {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}
.links .links-logo {
    width: 400px;
}
.links-logo img {
    width: 50%;
}
.links .links-content {
    width: 600px;
}
.links-content .card {
    margin: 10px;
    width: 170px;
    box-sizing: border-box;
}
.links-foot ul{
    display: flex;
    justify-content: center;
}
.links-foot li {
    padding: 20px;
    font-size: 22px;
    text-align: baseline;
}
.links-foot svg {
    width: 30px;
    height: 30px;
}
.links-foot a {
    opacity: .5;
}
.links-foot a:hover {
    opacity: 1;
    color: #ffffffee;
}
.footer {
    color: #fff;
    background-color: #000;
    width: 1200px;
    font-size: 20px;
    text-align: center;
}